<DOCTYPE html>

<head>
    <title>UROV</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
               
        html {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            font-size: 62.5%;
            font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            font-size: 1.6em;
            font-weight: 300;
            letter-spacing: 0.01em;
            line-height: 1.6
        }
          
        body {
            min-width: 100%;
            min-height: 100%;
            max-width: 100%;
            max-height:100%;
            background: black;
            color: #eaeaea;
            overflow: hidden;
            user-select: none;
            cursor: default;
        }
    </style>
    <script>
        document.addEventListener("keydown", (e) => {
            old_thrust = thrust
            noThrust()
            switch(e.key) {
                case "w":
                    thrust["lft"] = 1
                    thrust["rft"] = 1
                    break

                case "a": thrust["rft"] = 1; break
                case "s": noThrust(); break
                case "d": thrust["lft"] = 1; break

                case "space":
                    thrust["fdt"] = 1
                    thrust["bdt"] = 1
                    break
            }

            if (thrust != old_thrust)
                console.log(thrust)
        })

        thrust = {
            "lft": 0,
            "rft": 0,
            "fdt": 0,
            "bdt": 0
        }

        function noThrust() {
            for (let thruster in thrust) {
                thrust[thruster] = 0
            }
        }

        function pilot() {
            fetch(
                `http://192.168.1.7:8768/`, {
                    method: 'POST',
                    headers: new Headers({
                        'Content-Type': 
                            'application/x-www-form-urlencoded',
                    }),
                    body: 
                        `lft=${thrust["lft"]}&`
                      + `rft=${thrust["rft"]}&`
                      + `fdt=${thrust["fdt"]}&`
                      + `bdt=${thrust["bdt"]}`
                }
            )   .then(response => response.text())
                .then(result => {
                    if (result == "feed me") {
                        window.setTimeout(pilot, 0)
                    }
                }
            )
        }
    
        function handle_resize() {
            camera = document.getElementById("camera")
            let width = window.innerWidth - 30;
            let height = window.innerHeight - 30;
    
            camera.width = width
            camera.style.width = width
    
            camera.height = height
            camera.style.height = height
        }

        window.setTimeout(pilot, 0)
    </script>
</head>
<body
    onresize="handle_resize()"
    style="background-color: black">
    <iframe
        id="camera"
        src="http://192.168.1.30/livevideo.html"
        style="border-radius: 15px; margin: 15px 0px 0px 15px">
    </iframe>
</body>

